{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="content">
            <h2>Поднималка-с</h2>
            <hr>
            <button class="btn btn-lg btn-info" id="wake-up-check" onclick="wu_check();">
                Восподнять-c
            </button>
            <hr>
            <form class="form-horizontal" id="urls-form" action="{{url_for('wake_up_api.wake_up_manage')}}" method="post">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea name="urls" rows="6" class="textarea">
                            {%for url in urls%}
                            {{url}}
                            {%endfor%}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="submit btn btn-info btn-lg" type="submit">Постановить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <img id='loader-gif' src="{{url_for('static', filename='img/giphy.gif')}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-stripped sortable">
                <thead><tr><td>Url</td><td>State</td></tr> </thead>
                <tbody id="urls-states">

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
<script>
    function wu_check(){
       $("#loader-gif").show();
       $.ajax({
        url:"/wake_up/check",
        success:function(data){
           if (data.ok){
            $('#urls-states').empty();
            data.urls.forEach(function(url){
                $('#urls-states').append("<tr><td>"+url.url+"</td><td>"+url.state+"</td></tr>");
            });
             $("#loader-gif").hide();
           }
        }
       });
  }


</script>

{%endblock%}